pkgbase = figma-linux
	pkgdesc = The collaborative interface design tool. Unofficial Figma desktop client for Linux + system-wide electron
	pkgver = 0.7.1
	pkgrel = 4
	url = https://github.com/Figma-Linux/figma-linux
	arch = x86_64
	license = GPL2
	makedepends = nodejs
	makedepends = rust
	depends = electron
	depends = gtk3
	depends = xdg-utils
	depends = libxss
	depends = nss
	depends = nspr
	optdepends = libappindicator-gtk3
	conflicts = figma-bin
	replaces = figma-bin
	options = !strip
	source = https://github.com/Figma-Linux/figma-linux/archive/v0.7.1.tar.gz
	source = figma-linux.desktop
	sha256sums = f68af043cb7873db7f79795c350810a2474e2f701bc0bd209b17a15a86d088de
	sha256sums = 8ec0db0813fb20c1f22450505fb17a89d73013e2e81960ce83c1f8fe645a8259

pkgname = figma-linux

